@page "/"

@using Reuniverse.Razor
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<ReuContainer>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <ReuButton>Button 1</ReuButton>

    <ReuButton>Button 2</ReuButton>

    <ReuUploadArea></ReuUploadArea>
</ReuContainer>