@page "/"

@using Reuniverse.Razor
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<ReuContainer>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <ReuButton>Enabled button</ReuButton>
    <ReuButton disabled>Disabled button</ReuButton>

    <ReuButton Href="https://gbx.tools" Variant="ReuButtonVariant.Yellow">Enabled link</ReuButton>
    <ReuButton Href="https://gbx.tools" Variant="ReuButtonVariant.Yellow" disabled>Disabled link</ReuButton>

    <ReuUploadArea CssClass="uploader"></ReuUploadArea>
</ReuContainer>