@page "/"

@using Reuniverse.Razor
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<ReuContainer>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <ReuButton>Button 1</ReuButton>

    <ReuLink Href="https://gbx.tools">Link</ReuLink>

    <ReuUploadArea CssClass="uploader"></ReuUploadArea>
</ReuContainer>