@page "/"

@using Reuniverse.Razor
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<ReuContainer>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <ReuCheckbox>Should do this?</ReuCheckbox>
    <ReuCheckbox disabled>Should do this?</ReuCheckbox>

    <ReuRadio Name="Rad">Option 1</ReuRadio>
    <ReuRadio Name="Rad">Option 2</ReuRadio>
    <ReuRadio Name="Rad" disabled>Option 3</ReuRadio>
    <ReuRadio Name="Rad">Option 4</ReuRadio>

    <ReuButton>Enabled button</ReuButton>
    <ReuButton Enable="false">Disabled button</ReuButton>
    <ReuButton Variant="ReuButtonVariant.Blue" Enable="false">Disabled blue button</ReuButton>
    <ReuButton Variant="ReuButtonVariant.Red">Red button</ReuButton>

    <ReuButton Href="https://gbx.tools" Variant="ReuButtonVariant.Yellow">Enabled link</ReuButton>
    <ReuButton Href="https://gbx.tools" Variant="ReuButtonVariant.Yellow" Enable="false">Disabled link</ReuButton>

    <ReuList Panel="true" Wrap="true">
        <ReuListItem><img alt="TMSX" width="48" height="48" /></ReuListItem>
        <ReuListItem><img alt="TMNESWC" width="48" height="48" /></ReuListItem>
        <ReuListItem><img alt="TMUF" width="48" height="48" /></ReuListItem>
        <ReuListItem><img alt="TMT" width="48" height="48" /></ReuListItem>
        <ReuListItem><img alt="MP4" width="48" height="48" /></ReuListItem>
        <ReuListItem><img alt="TM2020" width="48" height="48" /></ReuListItem>
    </ReuList>

    <ReuList Panel="true" Vertical="true" style="height: 50px">
        <ReuListItem>A</ReuListItem>
        <ReuListItem>B</ReuListItem>
        <ReuListItem>C</ReuListItem>
        <ReuListItem>D</ReuListItem>
        <ReuListItem>E</ReuListItem>
        <ReuListItem>F</ReuListItem>
    </ReuList>

    <ReuUploadArea CssClass="uploader"></ReuUploadArea>

    <InputText type="text" @bind-Value="AssetSearchValue" @oninput="OnAssetSearchInput" placeholder="Search..." />
    <InputSelect @bind-Value="selected">
        <option value="a">AAAA AAA AAAAAAA AAAAAA</option>
        <option value="b">BBB BBBBBBB BB BBBBB</option>
        <option value="c">CCCCCCCC CCCCCC CCC</option>
    </InputSelect>
    <InputDate @bind-Value="selectedDate" />
    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="selectedDate" />
    <InputDate Type="InputDateType.Time" @bind-Value="selectedDate" />
    <InputDate Type="InputDateType.Month" @bind-Value="selectedDate" />
    <input type="color" @bind="selectedColor" />
    <input type="password" />
    <input type="search" />
    <input type="submit" />
    <input type="week" />
    <input type="url" />
    <input type="tel" />
    <input type="email" />
    <input type="button" value="Test" />
    <input type="number" />
    <progress id="file" value="32" max="100"> 32% </progress>
</ReuContainer>

@code {
    private string assetSearchValue = "";
    private DateTime selectedDate = DateTime.Today;
    private string selectedColor = "#FF0000";

    public string AssetSearchValue
    {
        get => assetSearchValue;
        set
        {
            if (assetSearchValue == value)
            {
                return;
            }

            assetSearchValue = value;
        }
    }

    private void OnAssetSearchInput(ChangeEventArgs e)
    {
        AssetSearchValue = e.Value?.ToString() ?? "";
    }

    private string selected = "a";
}