.type:hover {
    cursor: pointer;
    text-decoration: underline;
}

.keyword {
    color: var(--color-syntax-keyword);
}

.enum {
    color: var(--color-syntax-enum);
}

.struct {
    color: var(--color-syntax-struct);
}

.class {
    color: var(--color-syntax-class);
}

.generic {
    color: var(--color-syntax-generic);
}

.interface {
    color: var(--color-syntax-interface);
}