.reu-menubar {
    display: flex;
    position: relative;
    background: var(--color-input-bg);
    white-space: nowrap;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    z-index: 900;
}
