::deep .nav-link {
    color: var(--color-text-primary);
    background-color: var(--color-nav-item-bg);
    border-bottom: 2px solid var(--color-nav-border);
    border-radius: 4px;
    height: 2.5rem;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.05s ease, color 0.05s ease, min-width 0.2s ease;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

    ::deep .nav-link:hover {
        color: var(--color-text-primary);
        background-color: var(--color-nav-item-hover);
    }

    ::deep .nav-link.wide {
        min-width: 8rem;
    }

    ::deep .nav-link img.icon {
        display: none;
    }

::deep .nav-link img {
    transition: filter 0.2s ease;
}

::deep a.active, ::deep button.active {
    background-color: var(--color-nav-item-active) !important;
}


[data-theme="light"] .nav-link:not(.reu-discord):not(.reu-nuget) img,
.reu-theme-light .nav-link:not(.reu-discord):not(.reu-nuget) img {
    filter: invert(1);
}