@using Microsoft.AspNetCore.Components.Routing

<div class="navbar" @attributes="AdditionalAttributes">
    <div class="navbar-container">
        <div class="navbar-left">
            <a class="brand" href="">@Brand</a>
        </div>

        <input id="burger" type="checkbox" />
        <label for="burger" class="burger">
            <img src="@(string.IsNullOrEmpty(BurgerImageSrc) ? $"{Consts.BaseDir}/icons/menu.svg" : BurgerImageSrc)" alt="Menu" width="32" height="32" />
        </label>

        <nav>
            @ChildContent
        </nav>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Brand { get; set; }

    [Parameter]
    public string? BurgerImageSrc { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}