.item {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    font-size: 90%;
}

.items {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    opacity: 0; /* Ensure they're invisible initially */
    animation: fadeIn 0.2s ease-in forwards;
}

::deep input {
    height: 25px;
}

::deep select {
    height: 31px;
}

::deep .box {
    padding: 0 10px;
    border-radius: 4px;
    line-height: 30px;
    background: #2224;
    border-bottom: 1px solid #3338;
    transition: background 0.1s ease;
}

    ::deep .box.type {
        font-size: 75%;
    }

    ::deep .box.general:hover {
        background: var(--color-object-tree-box-bg);
        cursor: pointer;
    }

    ::deep .box.general.expander {
        user-select: none;
        width: 18px;
        text-align: center;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px); /* Optional: slight movement for a smoother effect */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}