.item {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    font-size: 90%;
}

.items {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    opacity: 0; /* Ensure they're invisible initially */
    animation: fadeIn 0.2s ease-in forwards;
    width: min-content;
}

::deep input {
    height: 24px;
    font-family: var(--font-mono), monospace;
    font-variant-ligatures: no-common-ligatures;
}

::deep select {
    height: 30px;
}

::deep .box {
    padding: 0 10px;
    border-radius: 4px;
    line-height: 28px;
    padding-top: 1px;
    background: #2224;
    border-bottom: 1px solid #3338;
    transition: background 0.1s ease;
}

    ::deep .box.type {
        font-size: 75%;
    }

    ::deep .box.general:hover {
        background: var(--color-object-tree-box-bg);
        cursor: pointer;
    }

    ::deep .box.general.active {
        background: var(--color-button-bg-active);
    }

    ::deep .box.general.expander {
        user-select: none;
        width: 18px;
        text-align: center;
    }

::deep .box-value {
    padding: 0 10px;
    border-radius: 4px;
    line-height: 29px;
    padding-top: 1px;
    background: #2228;
    color: #888;
}

    ::deep .box-value.clickable:hover {
        background: var(--color-object-tree-box-bg);
        cursor: pointer;
    }

    ::deep .box-value.error {
        color: var(--color-red);
        text-shadow: 0 0 20px var(--color-red);
        outline: 1px solid transparent;
        transition: outline 0.1s ease;
        cursor: help;
    }

        ::deep .box-value.error:hover {
            outline: 1px solid var(--color-red);
        }

.exception {
    color: var(--color-red);
    animation: fadeIn2 0.2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px); /* Optional: slight movement for a smoother effect */
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translateX(2px); /* Optional: slight movement for a smoother effect */
    }

    to {
        opacity: 1;
        transform: translateX(8px);
    }
}