label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: fit-content;
}

    label:hover input ~ .checkmark {
        border-color: var(--color-input-border-hover);
        background-color: var(--color-input-bg-hover);
    }

        label input:checked ~ .checkmark:after {
            display: block;
        }

    label:has(input:disabled) {
        cursor: not-allowed;
    }

    label input:disabled ~ .checkmark,
    label input.disabled ~ .checkmark {
        background-color: var(--color-input-bg-disabled);
        border-color: var(--color-input-border);
        cursor: not-allowed;
    }

    label:hover input:disabled ~ .checkmark,
    label:hover input.disabled ~ .checkmark {
        border-color: var(--color-input-border);
        background-color: var(--color-input-bg-disabled);
    }

input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    display: flex;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--color-input-border);
    border-radius: 100%;
    background-color: var(--color-input-bg);
    box-sizing: border-box;
}

    .checkmark:after {
        content: "";
        display: none;
        width: 100%;
        border-radius: 100%;
        background-color: white;
        margin: 8px;
        box-sizing: border-box;
    }