<div class="reu-tabs @CssClass" @attributes="AdditionalAttributes">
    <CascadingValue Value="this" IsFixed="true">
        <div class="header">
            @foreach (var tab in Tabs)
            {
                <div class="tab @(tab.Selected ? "selected" : "")" @onclick="() => SelectTabAsync(tab)">@tab.TitleContent</div>
            }
        </div>
        <div class="content">
            @ChildContent
        </div>
    </CascadingValue>
</div>

@code {
    internal List<ReuTab> Tabs { get; } = new();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Additional CSS classes to apply to the element.
    /// </summary>
    [Parameter]
    public string? CssClass { get; set; }

    public ReuTab? SelectedTab { get; private set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    internal void Register(ReuTab tab)
    {
        if (SelectedTab is null)
        {
            tab.Selected = true;
            SelectedTab = tab;
        }

        Tabs.Add(tab);
        StateHasChanged();
    }

    internal async Task SelectTabAsync(ReuTab tab)
    {
        foreach (var t in Tabs)
        {
            t.Selected = false;
        }

        tab.Selected = true;
        SelectedTab = tab;
        await InvokeAsync(StateHasChanged);
    }
}