@using System.Threading.Tasks
@implements IDisposable

@if (IsGlobalVisible)
{
    <div class="tooltip @(IsGlobal ? "global" : "")" style="left:@(GlobalX)px;top:@(GlobalY + 20)px;">
        @GlobalText
    </div>
}

@code {
    internal static double GlobalX { get; private set; }
    internal static double GlobalY { get; private set; }

    internal static bool IsGlobalVisible { get; private set; }
    internal static string GlobalText { get; private set; } = string.Empty;

    private static event Action? OnShow;
    private static event Action? OnMove;
    private static event Action? OnHide;
    private static event Action? OnUpdate;

    [Parameter]
    public bool IsGlobal { get; set; }

    protected override void OnInitialized()
    {
        if (IsGlobal)
        {
            OnShow += StateHasChanged;
            OnMove += StateHasChanged;
            OnHide += StateHasChanged;
            OnUpdate += StateHasChanged;
        }
    }

    internal static void ShowGlobal(MouseEventArgs args, string? text)
    {
        if (string.IsNullOrEmpty(text))
        {
            GlobalText = string.Empty;
            return;
        }

        GlobalX = args.ClientX;
        GlobalY = args.ClientY;

        IsGlobalVisible = true;
        GlobalText = text;

        try
        {
            OnShow?.Invoke();
        }
        catch
        {

        }
    }

    internal static async Task MoveGlobal(MouseEventArgs args)
    {
        if (string.IsNullOrEmpty(GlobalText))
        {
            return;
        }

        GlobalX = args.ClientX;
        GlobalY = args.ClientY;

        IsGlobalVisible = true;

        try
        {
            OnMove?.Invoke();
        }
        catch
        {

        }
    }

    internal static void HideGlobal()
    {
        if (string.IsNullOrEmpty(GlobalText))
        {
            return;
        }

        IsGlobalVisible = false;

        try
        {
            OnHide?.Invoke();
        }
        catch
        {

        }
    }

    internal static void UpdateGlobal(string? text)
    {
        GlobalText = text ?? string.Empty;

        try
        {
            OnUpdate?.Invoke();
        }
        catch
        {
        }
    }

    public void Dispose()
    {
        if (IsGlobal)
        {
            OnShow -= StateHasChanged;
            OnMove -= StateHasChanged;
            OnHide -= StateHasChanged;
            OnUpdate -= StateHasChanged;
        }
    }
}