.reu-tabs {
    display: flex;
    flex-direction: column;
}

.header {
    display: inline-flex;
    color: var(--color-text-primary);
    width: max-content;
}

.tab {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-button-border);
    background: var(--color-surface);
    padding: 10px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    transition: background-color 0.05s ease;
}

    .tab:hover {
        background: var(--color-surface-hover);
    }

    .tab.selected {
        background: var(--color-button-bg);
        border-bottom: none;
        border-top: 2px solid var(--color-button-border);
        border-left: 2px solid var(--color-button-border);
        border-right: 2px solid var(--color-button-border);
    }

.content {
    display: inline-flex;
    color: var(--color-text-primary);
    background: var(--color-button-bg);
    border-bottom: 2px solid var(--color-button-border);
    border-left: 2px solid var(--color-button-border);
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}