@page "/gbx"
@using GBX.NET
@using GBX.NET.Attributes
@using System.Reflection
@using GBX.NET.Engines.MwFoundations
@using GBX.NET.Serialization.Chunking
@layout MainLayout

@inject EventService EventService

<PageTitle>Gbx - Reuniverse</PageTitle>

<ReuUploadButton OnUpload="OnUpload" Accept=".Gbx">Open Gbx</ReuUploadButton>
<div style="overflow: auto; margin: 1rem 0">
    <ReuCheckbox IsCheckedChanged="isChecked => showTypes = isChecked" IsChecked="@showTypes">Types</ReuCheckbox>
    <ReuCheckbox IsCheckedChanged="isChecked => ignore = isChecked" IsChecked="@ignore">Ignore instead of fade</ReuCheckbox>
</div>
<div style="overflow: auto">
    <ReuObjectTree Value="gbx" 
                   HideType="!showTypes"
                   IsExpandedByDefault="true"
                   FadeProvider="ProvideFade"
                   IgnoreProvider="ProvideIgnore"></ReuObjectTree>
</div>

<ReuTooltip IsGlobal="true"></ReuTooltip>

@code {
    private GBX.NET.Gbx? gbx;

    private bool showTypes = true;
    private bool ignore;

    protected override void OnInitialized()
    {
        GBX.NET.Gbx.LZO = new GBX.NET.LZO.MiniLZO();

        EventService.OnUpload += data =>
        {
            using var ms = new MemoryStream(data);
            gbx = GBX.NET.Gbx.Parse(ms);
            StateHasChanged();
        };
    }

    private void OnUpload(UploadEventArgs args)
    {
        using var ms = new MemoryStream(args.Data);
        gbx = GBX.NET.Gbx.Parse(ms);
    }

    private bool IgnoreIfNotInChunk(object? value)
    {
        if (value is not ReuObjectTreeMember member)
        {
            return false;
        }

        var parentNode = (member.Parent as CMwNod) ?? (member.Parent as ReuObjectTreeMember)?.Value as CMwNod;

        if (parentNode is null)
        {
            return false;
        }

        if (Attribute.IsDefined(member.Property, typeof(AppliedWithChunkAttribute)))
        {
            return !member.Property.GetCustomAttributes<AppliedWithChunkAttribute>().Any(attribute =>
            {
                var chunk = parentNode.Chunks.Get(attribute.ChunkType);

                if (chunk is IVersionable versionable)
                {
                    return versionable.Version >= attribute.SinceVersion
                        && (attribute.UpToVersion is null || versionable.Version <= attribute.UpToVersion);
                }

                return chunk is not null;
            });
        }

        return false;
    }

    private bool ProvideFade(object? value)
    {
        return !ignore && IgnoreIfNotInChunk(value);
    }

    private bool ProvideIgnore(object? value)
    {
        return ignore && IgnoreIfNotInChunk(value);
    }
}
