@page "/gbx"
@using GBX.NET.Attributes
@using System.Reflection
@using GBX.NET.Engines.MwFoundations
@layout MainLayout

@inject EventService EventService

<PageTitle>Gbx - Reuniverse</PageTitle>

<ReuUploadButton OnUpload="OnUpload" Accept=".Gbx">Open Gbx</ReuUploadButton>
<div style="overflow: auto; margin: 1rem 0">
    <ReuCheckbox IsCheckedChanged="isChecked => showTypes = isChecked" IsChecked="@showTypes">Types</ReuCheckbox>
</div>
<div>
    <ReuObjectTree Value="gbx" HideType="!showTypes" IsExpandedByDefault="true" FadeProvider="ProvideFade"></ReuObjectTree>
</div>

<ReuTooltip IsGlobal="true"></ReuTooltip>

@code {
    private GBX.NET.Gbx? gbx;

    private bool showTypes = true;

    protected override void OnInitialized()
    {
        GBX.NET.Gbx.LZO = new GBX.NET.LZO.MiniLZO();

        EventService.OnUpload += data =>
        {
            using var ms = new MemoryStream(data);
            gbx = GBX.NET.Gbx.Parse(ms);
            StateHasChanged();
        };
    }

    private void OnUpload(UploadEventArgs args)
    {
        using var ms = new MemoryStream(args.Data);
        gbx = GBX.NET.Gbx.Parse(ms);
    }

    private bool ProvideFade(object? value)
    {
        if (value is not ReuObjectTreeMember member)
        {
            return false;
        }

        var parentNode = (member.Parent as CMwNod) ?? (member.Parent as ReuObjectTreeMember)?.Value as CMwNod;

        if (parentNode is null)
        {
            return false;
        }

        if (Attribute.IsDefined(member.Property, typeof(AppliedWithChunkAttribute)))
        {
            var attributes = member.Property.GetCustomAttributes<AppliedWithChunkAttribute>()!;
            return !attributes.Any(attribute => parentNode.Chunks.Contains(attribute.ChunkType));
        }

        return false;
    }
}
