@page "/gbx"
@using GBX.NET
@using GBX.NET.Attributes
@using System.Reflection
@using GBX.NET.Engines.MwFoundations
@using GBX.NET.Managers
@using GBX.NET.Serialization.Chunking
@using TmEssentials
@using TmEssentials.Razor
@using Overview.Customization

@layout MainLayout

@inject EventService EventService

<PageTitle>Gbx - Reuniverse</PageTitle>

<ReuUploadButton OnUpload="OnUpload" Accept=".Gbx">Open Gbx</ReuUploadButton>
<div style="overflow: auto; margin: 1rem 0">
    <ReuCheckbox IsCheckedChanged="isChecked => showTypes = isChecked" IsChecked="@showTypes">Types</ReuCheckbox>
    <ReuCheckbox IsCheckedChanged="isChecked => ignore = isChecked" IsChecked="@ignore">Ignore instead of fade</ReuCheckbox>
</div>
<div style="overflow: auto">
    <ReuObjectTree @ref="objectTree"
                   Value="gbx" 
                   HideType="!showTypes"
                   IsExpandedByDefault="true"
                   FadeProvider="ProvideFade"
                   IgnoreProvider="ProvideIgnore"
                   VisualizationProvider="ProvideVisualization"
                   ExtrasProvider="ProvideExtra"></ReuObjectTree>
    <datalist id="collectionIds">
        @foreach (var (collId, name) in CollectionManager.Collections)
        {
            <option value="@collId">@name</option>
        }
    </datalist>
</div>

<ReuTooltip IsGlobal="true"></ReuTooltip>

@code {
    private ReuObjectTree? objectTree;
    private GBX.NET.Gbx? gbx;

    private bool showTypes = true;
    private bool ignore;

    protected override void OnInitialized()
    {
        GBX.NET.Gbx.LZO = new GBX.NET.LZO.MiniLZO();

        EventService.OnUpload += data =>
        {
            using var ms = new MemoryStream(data);
            gbx = GBX.NET.Gbx.Parse(ms);
            StateHasChanged();
        };
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            objectTree?.TypeValueComponents.Add(typeof(TimeInt32), typeof(TimeInt32TypeValueComponent));
            objectTree?.TypeValueComponents.Add(typeof(TimeSingle), typeof(TimeSingleTypeValueComponent));
            objectTree?.TypeValueComponents.Add(typeof(Id), typeof(IdTypeValueComponent));
            objectTree?.TypeValueComponents.Add(typeof(Ident), typeof(IdentTypeValueComponent));
            objectTree?.TypeValueComponents.Add(typeof(Int3), typeof(Int3TypeValueComponent));
            objectTree?.TypeValueComponents.Add(typeof(Vec3), typeof(Vec3TypeValueComponent));
        }
    }

    private void OnUpload(UploadEventArgs args)
    {
        using var ms = new MemoryStream(args.Data);
        gbx = GBX.NET.Gbx.Parse(ms);
    }

    private bool IgnoreIfNotInChunk(object? value)
    {
        if (value is not ReuObjectTreeMember member)
        {
            return false;
        }

        var parentNode = (member.Parent as CMwNod) ?? (member.Parent as ReuObjectTreeMember)?.Value as CMwNod;

        if (parentNode is null)
        {
            return false;
        }

        if (Attribute.IsDefined(member.Property, typeof(AppliedWithChunkAttribute)))
        {
            return !member.Property.GetCustomAttributes<AppliedWithChunkAttribute>().Any(attribute =>
            {
                var chunk = parentNode.Chunks.Get(attribute.ChunkType);

                if (chunk is IVersionable versionable)
                {
                    return versionable.Version >= attribute.SinceVersion
                        && (attribute.UpToVersion is null || versionable.Version <= attribute.UpToVersion);
                }

                return chunk is not null;
            });
        }

        return false;
    }

    private bool ProvideFade(object? value)
    {
        return !ignore && IgnoreIfNotInChunk(value);
    }

    private bool ProvideIgnore(object? value)
    {
        return ignore && IgnoreIfNotInChunk(value);
    }

    private RenderFragment? ProvideVisualization(object? value)
    {
        if (value is not ReuObjectTreeMember member)
        {
            return null;
        }

        if (member.Property.PropertyType != typeof(string) || !Attribute.IsDefined(member.Property, typeof(SupportsFormattingAttribute)))
        {
            return null;
        }

        return builder =>
        {
            builder.OpenComponent(0, typeof(FormattedText));
            builder.AddAttribute(1, "Text", member.Value);
            builder.CloseComponent();
        };
    }

    private RenderFragment? ProvideExtra(object? value)
    {
        if (value is not ReuObjectTreeMember member)
        {
            return null;
        }

        if (member.Property.PropertyType != typeof(byte[]) || !Attribute.IsDefined(member.Property, typeof(JpegDataAttribute)))
        {
            return null;
        }

        if (member.Value is byte[] jpegData)
        {
            return builder =>
            {
                builder.OpenElement(0, "img");
                builder.AddAttribute(1, "src", $"data:image/jpeg;base64,{Convert.ToBase64String(jpegData)}");
                builder.AddAttribute(2, "width", "30");
                builder.AddAttribute(3, "height", "30");
                builder.AddAttribute(4, "style", "border-radius: 4px;transform: scaleY(-1);");
                builder.CloseElement();
            };
        }
        return null;
    }
}
