@page "/gbx"
@layout MainLayout

@inject EventService EventService

<PageTitle>Gbx - Reuniverse</PageTitle>

<ReuUploadButton OnUpload="OnUpload" Accept=".Gbx">Open Gbx</ReuUploadButton>
<div style="overflow: auto; margin: 1rem 0">
    <ReuCheckbox IsCheckedChanged="isChecked => showTypes = isChecked" IsChecked="@showTypes">Types</ReuCheckbox>
</div>
<div>
    <ReuObjectTree Value="gbx" HideType="!showTypes" IsExpandedByDefault="true"></ReuObjectTree>
</div>

<ReuTooltip IsGlobal="true"></ReuTooltip>

@code {
    private GBX.NET.Gbx? gbx;

    private bool showTypes = true;

    protected override void OnInitialized()
    {
        GBX.NET.Gbx.LZO = new GBX.NET.LZO.MiniLZO();

        EventService.OnUpload += data =>
        {
            using var ms = new MemoryStream(data);
            gbx = GBX.NET.Gbx.Parse(ms);
            StateHasChanged();
        };
    }

    private void OnUpload(UploadEventArgs args)
    {
        using var ms = new MemoryStream(args.Data);
        gbx = GBX.NET.Gbx.Parse(ms);
    }
}
