h1 {
    margin: 2.5rem 0 1rem 0;
}

h1.title {
    font-size: 250%;
}

.package-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem 3rem;
    width: 100%;
    margin: 1rem 0;
}

p.punchline {
    text-align: center;
}

@media (max-width: 1200px) {
    .package-grid {
        grid-template-columns: auto;
        gap: 0.5rem 0;
        text-align: center;
    }

    h2 {
        margin-top: 2rem;
    }
}

input.install {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

::deep .nuget {
    padding: 0.8rem 1rem;
    display: flex;
    gap: 1rem;
    font-size: 130%;
    font-weight: bold;
}

.styling {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 2rem;
}