@page "/privacy"
@page "/privacy-policy"

<PageTitle>Privacy Policy - Reuniverse</PageTitle>

<h1>Privacy Policy</h1>

<div class="reu-document">
    <p class="last-updated">Last updated: 28 February 2026</p>

    <h2>1. Introduction</h2>
    <p>
        This Privacy Policy describes how this page doesn't care about your privacy as it's literally just a static webpage.
    </p>

    <h2>2. Information We Collect</h2>
    <p>
        Nothing.
    </p>

    <h2>3. Changes to This Policy</h2>
    <p>
        We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy
        with an updated "last updated" date. Your continued use of the service after any changes constitutes your acceptance of the new policy.
    </p>

    <h2>4. Contact Us</h2>
    <p>
        If you have any questions about this Privacy Policy, please contact me.
    </p>
</div>