@inherits TypeComponentBase<ReuObjectTreeItem>

@if (ShowType && Value.Value is not null)
{
    <div class="box type">
        <ReuFriendlyType Type="Value.Value.GetType()"></ReuFriendlyType>
    </div>
}
<code class="box general">#@Value.Index</code>
@if (IsExpandable)
{
    <div @onclick="OnExpandToggle" class="box general expander @(IsExpanded ? "expanded" : "")">
        @(IsExpanded ? "▼" : "▶")
    </div>
}
<div>

    @if (Value.Value is null)
    {
        <span style="color: #888">null</span>
    }
    else if (TryGetValueComponent(out var componentType))
    {
        var parameters = new Dictionary<string, object?>
        {
            ["Item"] = Value,
            ["ValueChanged"] = EventCallback.Factory.Create(this, ValueChanged)
        };

        <DynamicComponent Type="componentType" Parameters="parameters" />
    }
    else
    {
        <span style="color: #888; padding: 0 8px;">@Value.Value</span>
    }

</div>

@code {
    private bool TryGetValueComponent(out Type? componentType)
    {
        if (Value.Value is null)
        {
            componentType = null;
            return false;
        }

        var type = Value.Value.GetType();

        if (type.IsEnum)
        {
            componentType = typeof(EnumTypeValueComponent);
            return true;
        }

        return TypeValueComponents.TryGetValue(type, out componentType);
    }
}
