@inherits TypeComponentBase<ReuObjectTreeMember>

@if (ShowType)
{
    <div class="box type">
        <ReuFriendlyType Type="Value.Property.PropertyType"></ReuFriendlyType>
        @if (!Value.Property.PropertyType.IsValueType && new NullabilityInfoContext().Create(Value.Property).ReadState is NullabilityState.Nullable)
        {
            <span>?</span>
        }
    </div>
}
<div class="box general">@Value.Property.Name</div>
@if (IsExpandable)
{
    <div @onclick="OnExpandToggle" class="box general expander @(IsExpanded ? "expanded" : "")">
        @(IsExpanded ? "▼" : "▶")
    </div>
}
<div style="display: flex; align-items: center; gap: 0.5rem">

    @if (TryGetValueComponent(out var componentType))
    {
        var parameters = new Dictionary<string, object?>
        {
            ["Member"] = Value,
            ["ValueChanged"] = EventCallback.Factory.Create(this, ValueChanged)
        };

        <DynamicComponent Type="componentType" Parameters="parameters" />
    }
    else if (Value.Value is null)
    {
        <span style="color: #888">null</span>
    }
    else 
    {
        <span style="color: #888; padding: 0 8px;">@Value.Value</span>
    }

</div>

@code {
    private bool TryGetValueComponent(out Type? componentType)
    {
        var type = Value.Value?.GetType() ?? Value.Property.PropertyType;

        if (type.IsEnum)
        {
            componentType = typeof(EnumTypeValueComponent);
            return true;
        }

        return TypeValueComponents.TryGetValue(type, out componentType);
    }
}
