@inherits TypeValueComponentBase<bool?>

@if (Value.HasValue)
{
    <ReuCheckbox IsChecked="Value.Value" IsCheckedChanged="OnValueChanged" readonly="@IsReadOnly">
        @Value
    </ReuCheckbox>
}
else
{
    <span class="box-value clickable"
          @onclick="() => Value = default(bool)"
          @onmouseenter="@(args => ReuTooltip.ShowGlobal(args, "Set to default value"))"
          @onmousemove="ReuTooltip.MoveGlobal"
          @onmouseout="ReuTooltip.HideGlobal">null</span>
}
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}

@code {
    private async Task OnValueChanged(bool isChecked)
    {
        Value = isChecked;
        await ValueChanged.InvokeAsync();
    }
}
