@inherits TypeValueComponentBase<bool?>

@if (Value.HasValue)
{
    <ReuCheckbox IsChecked="Value.Value" IsCheckedChanged="OnValueChanged" disabled="@IsReadOnly">
        @Value
    </ReuCheckbox>
}
else
{
    <span>null</span>
}
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}

@code {
    private async Task OnValueChanged(bool isChecked)
    {
        Value = isChecked;
        await ValueChanged.InvokeAsync();
    }
}
