@using Microsoft.AspNetCore.Components.Forms

@inherits TypeValueComponentBase<DateTime?>

<input type="text" @bind="Value" disabled="@IsReadOnly" />
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}