@inherits TypeValueComponentBase<Guid?>

@if (Value.HasValue)
{
    <input @bind="Value" disabled="@IsReadOnly" style="width:36ch" />
}
else
{
    <span class="box-value clickable"
          @onclick="() => Value = default(Guid)"
          @onmouseenter="@(args => ReuTooltip.ShowGlobal(args, "Set to default value"))"
          @onmousemove="ReuTooltip.MoveGlobal"
          @onmouseout="ReuTooltip.HideGlobal">null</span>
}
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}
