@inherits TypeValueComponentBase<short?>

<input type="number" @bind="Value" disabled="@IsReadOnly" maxlength="6" style="width: 6ch;" />
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}