@inherits TypeValueComponentBase<int?>

<input type="number" @bind="Value" disabled="@IsReadOnly" maxlength="11" style="width: 11ch;" />
@if (Exception is not null)
{
    <div style="color: red;">@Exception.Message</div>
}

@code {
    public override int? Value
    {
        get
        {
            if (Property is not null) return (int?)Property.GetValue(Parent);
            if (Item is not null) return (int?)Item.Value;
            return null;
        }
        set
        {
            if (Property is null) return;

            try
            {
                Property.SetValue(Parent, value);
                Exception = null;
            }
            catch (TargetInvocationException ex)
            {
                Exception = ex.InnerException ?? ex;
            }
        }
    }
}
