@inherits TypeValueComponentBase<string>

<input type="text" @bind="Value" disabled="@IsReadOnly" />
@if (Value is not null)
{
    <span class="box-value">@Value.Length</span>
}
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}
