@using Microsoft.AspNetCore.Components.Forms

@inherits TypeValueComponentBase<TimeSpan?>

<input @bind="Value" disabled="@IsReadOnly" maxlength="16" style="width: 16ch;" />
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}