@inherits TypeValueComponentBase<ushort?>

<input type="number" @bind="Value" disabled="@IsReadOnly" maxlength="5" style="width: 5ch;" />
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}
